<form name="wizzard">
    <div class="wizard clearfix">
        <ul class="steps">
            <li ng-class="{active: currentStep === {{$index + 1}}}" ng-repeat="step in steps">
                <span class="badge" ng-class="{'badge-info':currentStep === {{$index + 1}}, 'badge-success': currentStep > {{$index + 1}}}">{{$index + 1}}</span>
                {{step.title}}
            </li>
        </ul>
        <div class="actions visible-lg-block">
            <button type="button" class="btn btn-white btn-xs btn-prev" ng-click="prevStep()" ng-disabled="currentStep == 0 || wizzard.$invalid">Prev</button>
            <button type="button" class="btn btn-white btn-xs btn-next" ng-click="nextStep()" ng-disabled="currentStep == {{steps.length}} || wizzard.$invalid">Next</button>
            {{wizzard.$invalid}}
            {{currentStep}}
        </div>
    </div>
    <div class="step-content" ng-switch="currentStep">
        <div ng-transclude></div>
    </div>
</form>